body {
  background-color: #282A36;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: wheat;
  font-size: 1.1rem;
}

div{
  width: 200px;
  height: 200px;
}

button{
  width: fit-content;
  height: 20px;
}